/* style.css */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
  margin: 0;
}

.calculator {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 20px;
  background-color: #646464;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculator-screen {
  width: 100%;
  height: 60px;
  text-align: right;
  border: none;
  background-color: #222;
  color: #00ca0d;
  font-size: 1.5em;
  margin-bottom: 10px;
  padding-right: 10px;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 40px;
  font-size: 1.2em;
  border: none;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

button.operator {
  background-color: #ff9500;
  color: #fff;
}

button.all-clear {
  grid-column: span 2;
  background-color: #c60000;
  color: #fff;
}

button.equal-sign {
  grid-column: span 2;
  background-color: #34c759;
  color: #fff;
}